h1 {
  font-size: 7rem;
}
.font-tangerine {
  font-family: "Tangerine", serif;
}

.bg-navbar {
  background: #fff5be;
  background: linear-gradient(90deg, rgba(255, 245, 190, 1) 0%, rgba(247, 242, 208, 1) 100%);
}

.bg-main {
  background-color: #f5edd6;
}

.bg-popUp {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.bg-historial {
  background-color: #ffdaa2;
}

.bg-error {
  background-color: red;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.blur {
  pointer-events: none;
  filter: blur(10px);
}

.name-popUp {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(212, 189, 137);
  border-radius: 15px;
  box-shadow: 6px 6px 20px -5px rgba(0, 0, 0, 0.5);
}

.select-list {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

.btn-searchBook {
  background-color: #bdd6a9;
}
.btn-searchBook:hover {
  background-color: #9ac086;
}
.btn-searchBook:focus {
  background-color: #9ac086;
}

.btn-deleteHistorial {
  background-color: #85b49b;
  font-size: large;
}
.btn-deleteHistorial:hover {
  background-color: #3e6b75;
  color: rgb(238, 73, 73);
}
.btn-deleteBook {
  background-color: #bd5a41;
}
.btn-deleteBook:hover {
  background-color: #f98e72;
}
